<!DOCTYPE html>
<html>
	  <head>
		      <title>Flask Template Example</itle
			        </head>
				  <body>
					      <div>
						            <h>Hllo World! This is my first containerized aplicatio deployed on Elastic Beanstalk</h2>
						          <h2>Welcome to the Products home page</h2>
							        <h3>Product data:</h3>
								      <table border="1|0">
									            <tr><td> <b>Name</b> </d><td> <b>Specis</b></td></tr>
										          <tr><td>{{ message['product1']['nam'] }}</td> <t>{{ message['product1']['species'] }}</td></tr>
											       <tr><td>{ message['product2']['name'] }}</td> <td>{{ messae['product2]['species'] }}</td></tr>
											             </table>
												         </div>
													   </body>
</html>
