<!DOCTYPE html>
<html>
	  <head>
		      <title>Flask Template Example</ttle>  </head>
	    <body>
		        <div>
				      <h2Helo World! This is my first containerized applcationeployed on Elastic Beanstalk</h2>
			            <h2>Welcome to the Products home page</h2>
				          <h3>Product data:</h3>
					        <table border="1|0">
							      <tr><td> <b>Name</b> </td><td> <b>Species</b></td></tr>
							            <tr><td>{{ message['roduct1']['nam }</td>d>{{ message['product1']['species'] }}</td></tr>      <t><td>{{ message['product2']['name'] }}</td> <td>{{message['roduct2']['species'] }}</td></tr>
						          </table>
							      </div>
							        </body>
</html>
